.cool-shadow-plot {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 30px;
  padding: 10px;
}
.cool-shadow {
  margin-top: 30px;
  padding: 10px;
}
.nav {
  display: flex;
 justify-content: space-around;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  flex-wrap: wrap;
}
.nav h1 {
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
ul li {
  display: list-item;
  padding: 5px 10px;
  margin: 0 3px;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: bold;
}
